<?xml version="1.0" encoding="UTF-8"?>
<FuncModule>
	<Communicator>
		<nodestruct>
			<params comment="communicator parameters">COMMUNICATORPARAMS</params>
			<receivedata comment="communicator receive data">COMMUNICATORRECEIVEDATA</receivedata>
			<senddata comment="communicator send data">COMMUNICATORSENDDATA</senddata>
		</nodestruct>
		<nodefunc>
			<communicator comment="communicator function">communicatorfunc.h</communicator>
		</nodefunc>
		<widgetstruct>
			<widgets comment="communicator widgets">COMMUNICATORWIDGETS</widgets>
		</widgetstruct>
		<widgetfunc>
			<communicatorwidget comment="communicator widget function">communicatorwidgetfunc.h</communicatorwidget>
		</widgetfunc>
	</Communicator>
	<Distribution>
		<nodestruct>
			<params comment="distribution parameters">DISTRIBUTIONPARAMS</params>
			<data comment="distribution data">DISTRIBUTIONDATA</data>
		</nodestruct>
		<nodefunc>
			<distribution comment="distribution function">distributionfunc.h</distribution>
		</nodefunc>
	</Distribution>
	<Fusion>
		<nodestruct>
			<params comment="fusion parameters">FUSIONPARAMS</params>
			<outputdata commect="fusion outputdata">FUSIONOUTPUTDATA</outputdata>
		</nodestruct>
		<nodefunc>
			<fusion comment="fusion function">fusionfunc.h</fusion>
		</nodefunc>
	</Fusion>
	<Processor>
		<nodestruct>
			<params comment="processor parameters">PROCESSORPARAMS</params>
			<inputdata comment="processor inputdata">PROCESSORINPUTDATA</inputdata>
			<outputdata comment="processor outputdata">PROCESSOROUTPUTDATA</outputdata>
		</nodestruct>
		<nodefunc>
			<processor comment="processor function">processorfunc.h</processor>
		</nodefunc>
	</Processor>
	<Sensor>
		<nodestruct>
			<params comment="sensor parameters">SENSORPARAMS</params>
			<data comment="sensor data">SENSORDATA</data>
		</nodestruct>
		<nodefunc>
			<sensor comment="sensor function">sensorfunc.h</sensor>
		</nodefunc>
		<widgetstruct>
			<widgets comment="sensor widgets">SENSORWIDGETS</widgets>
		</widgetstruct>
		<widgetfunc>
			<sensorwidget comment="sensor widget function">sensorwidgetfunc.h</sensorwidget>
		</widgetfunc>
	</Sensor>
	<Simulator>
		<nodestruct>
			<params comment="processor parameters">SIMULATORPARAMS</params>
			<data comment="processor data">SIMULATORDATA</data>
		</nodestruct>
		<nodefunc>
			<simulator comment="simulator function">simulatorfunc.h</simulator>
		</nodefunc>
	</Simulator>
	<Storage>
		<nodestruct>
			<params comment="storage parameters">STORAGEPARAMS</params>
			<data comment="storage data">STORAGEDATA</data>
		</nodestruct>
		<nodefunc>
			<storage comment="storage function">storagefunc.h</storage>
		</nodefunc>
		<widgetstruct>
			<widgets comment="storage widgets">STORAGEWIDGETS</widgets>
		</widgetstruct>
		<widgetfunc>
			<storagewidget comment="storage widget function">storagewidgetfunc.h</storagewidget>
		</widgetfunc>
	</Storage>
	<Transmitter>
		<nodestruct>
			<params comment="transmitter parameters">TRANSMITTERPARAMS</params>
			<data comment="transmitter data">STRANSMITTERDATA</data>
		</nodestruct>
		<nodefunc>
			<transmitter comment="transmitter function">transmitterfunc.h</transmitter>
		</nodefunc>
	</Transmitter>
</FuncModule>