<?xml version="1.0" encoding="UTF-8"?>
<Sensors>
	<Sensor Class="URG" Name="URG">
		<connection_type ValueType="Options" DataType="urg_connection_type_t">
			<URG_SERIAL>0</URG_SERIAL>
			<URG_ETHERNET>1</URG_ETHERNET>
			<Default>1</Default>
		</connection_type>
		<device_or_address ValueType="Value" DataType="string">
			<Default>192.168.0.10</Default>
		</device_or_address>
		<baudrate_or_port ValueType="Value" DataType="int">
			<Default>10940</Default>
		</baudrate_or_port>
		<measurement_type ValueType="Options" DataType="urg_measurement_type_t">
			<URG_DISTANCE>0</URG_DISTANCE>
			<URG_DISTANCE_INTENSITY>1</URG_DISTANCE_INTENSITY>
			<URG_MULTIECHO>2</URG_MULTIECHO>
			<URG_MULTIECHO_INTENSITY>3</URG_MULTIECHO_INTENSITY>
			<URG_STOP>4</URG_STOP>
			<URG_UNKNOWN>5</URG_UNKNOWN>
			<Default>0</Default>
		</measurement_type>
		<skip_scan ValueType="Value" DataType="int">
			<Default>0</Default>
		</skip_scan>
		<first_step ValueType="Value" DataType="int">
			<Default>-360</Default>
		</first_step>
		<last_step ValueType="Value" DataType="int">
			<Default>360</Default>
		</last_step>
		<skip_step ValueType="Value" DataType="int">
			<Default>2</Default>
		</skip_step>
	</Sensor>
	<Storage Class="URG" Name="URG">
		<storagepath ValueType="Value" DataType="string">
			<Default>D:\Data</Default>
		</storagepath>
		<extension ValueType="Value" DataType="string">
			<Default>lms</Default>
		</extension>
	</Storage>
	<Sensor Class="Xtion" Name="Xtion">
		<resolutionx ValueType="Value" DataType="int">
			<Default>640</Default>
		</resolutionx>
		<resolutiony ValueType="Value" DataType="int">
			<Default>480</Default>
		</resolutiony>
		<fps ValueType="Value" DataType="int">
			<Default>30</Default>
		</fps>
	</Sensor>
	<Storage Class="Xtion" Name="Xtion">
		<fps Valuetype="Value" DataType="double">
			<Default>20</Default>
		</fps>
		<storagepath ValueType="Value" DataType="string">
			<Default>D:\Data</Default>
		</storagepath>
		<extension ValueType="Value" DataType="string">
			<Default>mpeg</Default>
		</extension>
	</Storage>
	<Sensor Class="UDPReceiver" Name="UDPReceiver">
		<port ValueType="Value" DataType="int">
			<Default>7777</Default>
		</port>
	</Sensor>
	<Storage Class="UDPReceiver" Name="UDPReceiver">
		<storagepath ValueType="Value" DataType="string">
			<Default>D:\Data</Default>
		</storagepath>
		<extension ValueType="Value" DataType="string">
			<Default>udplog</Default>
		</extension>
	</Storage>
	<Communicator Class="XWGPS" Name="XWGPS">
		<port ValueType="Value" DataType="string">
			<Default>COM2</Default>
		</port>
		<baudrate ValueType="Options" DataType="BaudRateType">
			<BAUD9600>9600</BAUD9600>
			<BAUD14400>14400</BAUD14400>
			<BAUD19200>19200</BAUD19200>
			<BAUD38400>38400</BAUD38400>
			<BAUD56000>56000</BAUD56000>
			<BAUD57600>57600</BAUD57600>
			<BAUD76800>76800</BAUD76800>
			<BAUD115200>115200</BAUD115200>
			<Default>115200</Default>
		</baudrate>
		<databitstype ValueType="Options" DataType="DataBitsType">
			<DATA_5>5</DATA_5>
			<DATA_6>6</DATA_6>
			<DATA_7>7</DATA_7>
			<DATA_8>8</DATA_8>
			<Default>8</Default>
		</databitstype>
		<paritytype ValueType="Options" DataType="ParityType">
			<PAR_NONE>0</PAR_NONE>
			<PAR_ODD>1</PAR_ODD>
			<PAR_EVEN>2</PAR_EVEN>
			<PAR_MARK>3</PAR_MARK>
			<PAR_SPACE>4</PAR_SPACE>
			<Default>0</Default>
		</paritytype>
		<stopbitstype ValueType="Options" DataType="StopBitsType">
			<STOP_1>0</STOP_1>
			<STOP_1_5>1</STOP_1_5>
			<STOP_2>2</STOP_2>
			<Default>0</Default>
		</stopbitstype>
		<flowtype ValueType="Options" DataType="FlowType">
			<FLOW_OFF>0</FLOW_OFF>
			<FLOW_HARDWARE>1</FLOW_HARDWARE>
			<FLOW_XONXOFF>2</FLOW_XONXOFF>
			<Default>0</Default>
		</flowtype>
		<timeout ValueType="Value" DataType="long">
			<Default>500</Default>
		</timeout>
		<querymode ValueType="Options" DataType="QextSerialBase::QueryMode">
			<Polling>0</Polling>
			<EventDriven>1</EventDriven>
			<Default>1</Default>
		</querymode>
		<recvpacksize ValueType="Value" DataType="int">
			<Default>1</Default>
		</recvpacksize>
	</Communicator>
	<Storage Class="UDPReceiver" Name="UDPReceiver">
		<storagepath ValueType="Value" DataType="string">
			<Default>D:\Data</Default>
		</storagepath>
		<extension ValueType="Value" DataType="string">
			<Default>pos</Default>
		</extension>
	</Storage>	
	<Communicator Class="Encoder" Name="Encoder">
		<port ValueType="Value" DataType="string">
			<Default>COM5</Default>
		</port>
		<baudrate ValueType="Options" DataType="BaudRateType">
			<BAUD9600>9600</BAUD9600>
			<BAUD14400>14400</BAUD14400>
			<BAUD19200>19200</BAUD19200>
			<BAUD38400>38400</BAUD38400>
			<BAUD56000>56000</BAUD56000>
			<BAUD57600>57600</BAUD57600>
			<BAUD76800>76800</BAUD76800>
			<BAUD115200>115200</BAUD115200>
			<Default>38400</Default>
		</baudrate>
		<databitstype ValueType="Options" DataType="DataBitsType">
			<DATA_5>5</DATA_5>
			<DATA_6>6</DATA_6>
			<DATA_7>7</DATA_7>
			<DATA_8>8</DATA_8>
			<Default>8</Default>
		</databitstype>
		<paritytype ValueType="Options" DataType="ParityType">
			<PAR_NONE>0</PAR_NONE>
			<PAR_ODD>1</PAR_ODD>
			<PAR_EVEN>2</PAR_EVEN>
			<PAR_MARK>3</PAR_MARK>
			<PAR_SPACE>4</PAR_SPACE>
			<Default>0</Default>
		</paritytype>
		<stopbitstype ValueType="Options" DataType="StopBitsType">
			<STOP_1>0</STOP_1>
			<STOP_1_5>1</STOP_1_5>
			<STOP_2>2</STOP_2>
			<Default>0</Default>
		</stopbitstype>
		<flowtype ValueType="Options" DataType="FlowType">
			<FLOW_OFF>0</FLOW_OFF>
			<FLOW_HARDWARE>1</FLOW_HARDWARE>
			<FLOW_XONXOFF>2</FLOW_XONXOFF>
			<Default>0</Default>
		</flowtype>
		<timeout ValueType="Value" DataType="long">
			<Default>500</Default>
		</timeout>
		<querymode ValueType="Options" DataType="QextSerialBase::QueryMode">
			<Polling>0</Polling>
			<EventDriven>1</EventDriven>
			<Default>1</Default>
		</querymode>
		<recvpacksize ValueType="Value" DataType="int">
			<Default>1</Default>
		</recvpacksize>
		<packhead ValueType="Value" DataType="QByteArray" Base="16">
			<Default>0xA2</Default>
		</packhead>
		<packtail ValueType="Value" DataType="QByteArray" Base="16">
			<Default>0x2A</Default>
		</packtail>
	</Communicator>
	<Storage Class="Encoder" Name="Encoder">
		<storagepath ValueType="Value" DataType="string">
			<Default>D:\Data</Default>
		</storagepath>
		<extension ValueType="Value" DataType="string">
			<Default>encoder</Default>
		</extension>
	</Storage>		
	<Sensor Class="PointGreyFlea2" Name="PointGreyFlea2">
		<videomode ValueType="Options" DataType="VideoMode">
			<VIDEOMODE_160x120YUV444>0</VIDEOMODE_160x120YUV444>
			<VIDEOMODE_320x240YUV422>1</VIDEOMODE_320x240YUV422>
			<VIDEOMODE_640x480YUV411>2</VIDEOMODE_640x480YUV411>
			<VIDEOMODE_640x480YUV422>3</VIDEOMODE_640x480YUV422>
			<VIDEOMODE_640x480RGB>4</VIDEOMODE_640x480RGB>
			<VIDEOMODE_640x480Y8>5</VIDEOMODE_640x480Y8>
			<Default>4</Default>
		</videomode>
		<framerate ValueType="Options" DataType="FrameRate">
			<FRAMERATE_1_875>0</FRAMERATE_1_875>
			<FRAMERATE_3_75>1</FRAMERATE_3_75>
			<FRAMERATE_7_5>2</FRAMERATE_7_5>
			<FRAMERATE_15>3</FRAMERATE_15>
			<FRAMERATE_30>4</FRAMERATE_30>
			<FRAMERATE_60>5</FRAMERATE_60>
			<Default>3</Default>
		</framerate>
		<pixelformat ValueType="Options" DataType="PixelFormat" Base="16">
			<PIXEL_FORMAT_MONO8>0x80000000</PIXEL_FORMAT_MONO8>
			<PIXEL_FORMAT_411YUV8>0x40000000</PIXEL_FORMAT_411YUV8>
        	<PIXEL_FORMAT_422YUV8>0x20000000</PIXEL_FORMAT_422YUV8>
        	<PIXEL_FORMAT_444YUV8>0x10000000</PIXEL_FORMAT_444YUV8>
        	<PIXEL_FORMAT_RGB8>0x08000000</PIXEL_FORMAT_RGB8>
        	<PIXEL_FORMAT_MONO16>0x04000000</PIXEL_FORMAT_MONO16> 
        	<PIXEL_FORMAT_RGB16>0x02000000</PIXEL_FORMAT_RGB16>
        	<PIXEL_FORMAT_S_MONO16>0x01000000</PIXEL_FORMAT_S_MONO16>
        	<PIXEL_FORMAT_S_RGB16>0x00800000</PIXEL_FORMAT_S_RGB16>
        	<PIXEL_FORMAT_RAW8>0x00400000</PIXEL_FORMAT_RAW8>
        	<PIXEL_FORMAT_RAW16>0x00200000</PIXEL_FORMAT_RAW16>
        	<PIXEL_FORMAT_MONO12>0x00100000</PIXEL_FORMAT_MONO12>
        	<PIXEL_FORMAT_RAW12>0x00080000</PIXEL_FORMAT_RAW12>
        	<PIXEL_FORMAT_BGR>0x80000008</PIXEL_FORMAT_BGR>
        	<PIXEL_FORMAT_BGRU>0x40000008</PIXEL_FORMAT_BGRU>
        	<PIXEL_FORMAT_RGB>0x08000000</PIXEL_FORMAT_RGB>
        	<PIXEL_FORMAT_RGBU>0x40000002</PIXEL_FORMAT_RGBU>
        	<PIXEL_FORMAT_BGR16>0x02000001</PIXEL_FORMAT_BGR16>
			<PIXEL_FORMAT_BGRU16>0x02000002</PIXEL_FORMAT_BGRU16>
        	<PIXEL_FORMAT_422YUV8_JPEG>0x40000001</PIXEL_FORMAT_422YUV8_JPEG>
			<Default>0x80000008</Default>
		</pixelformat>
	</Sensor>
	<Storage Class="PointGreyFlea2" Name="PointGreyFlea2">
		<fps Valuetype="Value" DataType="double">
			<Default>20</Default>
		</fps>
		<storagepath ValueType="Value" DataType="string">
			<Default>D:\Data</Default>
		</storagepath>
		<extension ValueType="Value" DataType="string">
			<Default>mpeg</Default>
		</extension>
	</Storage>
</Sensors>